
button{
  width: 40%;
  margin: 5%;
}
body{
  background-image: url('https://wallpaperaccess.com/full/7233921.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

small{
color: red;
}