<app-admin></app-admin>
<body>
<div class="container">
    <div class="row">
      <div class="col-md-7 text-center">
        <h1>Welcome <span class="text-primary">Admin !! </span></h1>
        <p>Welcome to the Admin Dashboard for AC Service Management System!

          Here, you have full control over managing the Service Centers. With just a few clicks, you can add, edit, and delete and view the Service Centers to ensure efficient and reliable AC service management.</p>
        <br>
        <p>Click on the Add Service Center button to effortlessly create a new Service Center. Provide all the necessary details to ensure accurate records and smooth operations.</p>
        <button type="button" class="btn btn-primary" [routerLink]="'/admin/addServiceCenter'">
          <i class="bi bi-plus"></i> Add Service Center
        </button>
        <br>
        
        
           <p>Click on View Service Centers button to view all the available Service Centers which you can Edit and Delete the available Service Centers</p>
        <button type="button" class="btn btn-primary" [routerLink]="'/admin/editServiceCenter'">
          <i class="bi bi-eye"></i> View Service Centers
        </button>
        <br>
      </div>
    </div>
  </div>
</body>


  
  
  

