body{
  background-image: url('https://wallpaperaccess.com/full/7233921.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1000px;
  
}



.container {
  max-width: 800px;
  margin: 0 auto;
}


table {
  width: 100%;
  border-collapse: collapse;
  background-color: lavender;
}

table th,
table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.right-half-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.box-form {
  background-color:lavender;
  padding: 20px;
}

.right {
  margin: 0 auto;
  max-width: 500px;
}

.inputs {
  margin-bottom: 20px;
}

h1 {
  margin-top: 0;
}

input[type="text"],
input[type="date"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type="submit"] {
  padding: 10px 20px ;
  background-color: palevioletred;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}

small {
  color: red;
}

.rating {
  font-size: 24px;
  color: #c6c6c6;
}

.star {
  cursor: pointer;
}

.filled {
  color: #f8ce0b;
}
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
form {
  margin-bottom: 20px;
}
.alert{
  align-items: center;
  text-align: center;
  background-color: azure;
  border-radius: 20px;
}




